@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Roboto:300,400');

:root {
  --accentColor: indigo;
  --textColor: #9e9e9e;
}


body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box{
  padding: 5px;
  text-align: center;
  max-width: calc(100% - 25px); /*Could be 100% but it's a bit too cramped.*/
}

label{
  font-size: 1.5em !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=number]:focus,
.input-field input[type=password]:focus{
  border-bottom: 1px solid var(--accentColor);
  box-shadow: 0 1px 0 0 var(--accentColor);
}

input[type=text],
input[type=number],
input[type=password]{
  font-size: 3em;
  padding-bottom: 0.1em;
}

/* label focus color */
.input-field input:focus + label{
  color: var(--accentColor) !important;
}

input[type=number]{
  margin-bottom: 0px;
  overflow:scroll
}

#back{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 15px;
  padding-top: 35px;
  margin:25px;
}

#result{
  font-family: 'Droid Sans Mono', monospace;
  font-size: 2em;
  padding: 1em 0px;
  display: inline-block;
  display: none;
  word-wrap:break-word;
}

#copy{
  display: none;
  margin: auto;
}

#submit{
  font-weight: normal /*Resetting weight of the button to the standard.*/
}

.hint{
  float: left;
  color: var(--textColor);
  margin-bottom: 1em;
  width: 100%;
  text-align: left;
}


input,
textarea {
    font-size: 24px;
    padding: 10px;

    color: var(--accentColor);
    text-shadow: 0px 0px 0px #000;
    -webkit-text-fill-color: transparent;
}

#faq{
  float: right;
  cursor: help;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/*
For IE 6/7 only
Include this rule to trigger hasLayout and contain floats.
*/
.cf {
  *zoom: 1;
}

a{
  font-weight: bold;
}

ul.autocomplete-content.dropdown-content{
  position: absolute !important;
  width: 100%;
}

ul.autocomplete-content.dropdown-content span{
  color: var(--textColor);
}

.highlight{
  font-weight: 400;
}

li img.right.circle{
  position: absolute;
  right: 0px !important;
}

/*If I keep the rounded element, the twitter bird's beak gets cut :-;*/
.circle{
  border-radius: 0px;
}
