@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Roboto:300,400');
:root {
  --accentColor: #3f51b5;
  --lightAccent: #6d78b5;
  --textColor: #535353;
  --backgroundColor: #fff;
  --internalColor: #fff;
  --incorrectColor: #F44336;
  --correctColor: #5cb85c; /* Bootstrap green */
  --inputColor: #000;
  --linkColor: #00539B;
  --highlightColor: #eee;
}

html,
body {
  height: 100% !important;
  color: var(--inputColor);
  text-align: center;
  transition: background-color .3s ease, color .3s ease;
  font-size: 2vh;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundColor);
}

#box {
  text-align: center;
  max-width: 75%;
  /*Could be 100% but it's a bit too cramped.*/
  max-height: 100%;
}

.partial {
  width: calc(100% - 3rem) !important;
  align-self: flex-end;
  display: block;
}

label {
  color: var(--textColor) !important;
  font-size: 1.5rem !important;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out, background-color .3s ease, color .3s ease;
}

.input-field label{
  transition: transform .3s ease-out, -webkit-transform .3s ease-out, background-color .3s ease, color .3s ease;
}

.input-field input[type=text], .input-field input[type=number], .input-field input[type=password] {
  border-bottom: 1px solid var(--textColor);
  transition: border .3s ease-out, background-color .3s ease, color .3s ease;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=number]:focus, .input-field input[type=password]:focus {
  border-bottom: 1px solid var(--accentColor) !important;
  box-shadow: 0 1px 0 0 var(--accentColor) !important;
}

input[type=text], input[type=number], input[type=password] {
  font-size: 3rem !important;
  padding-bottom: 0.1em !important;
  box-sizing:border-box;
}


/* label focus color */

.input-field input:focus+label {
  color: var(--accentColor) !important;
}

input[type=number] {
  margin-bottom: 0px;
  overflow: scroll
}

#back {
  box-shadow: 0 0.26em 0.65em 0 rgba(0, 0, 0, 0.2);
  background-color: var(--internalColor);
  border-radius: 0.325em;
  padding: 0.975em;
  padding-top: 1.5em;
  margin: 2em 0;
  max-height: 100%;
  transition: background-color .3s ease, color .3s ease;
}

#result {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 2rem;
  padding: 0.9rem 0px;
  display: inline-block;
  word-wrap: break-word;
  word-break: break-all;
  /*Only breaks when it needs to*/
}

#copy {
  display: none;
  margin: auto;
}

#submit {
  font-weight: normal;
  /*Resetting weight of the button to the standard.*/
}

.hint {
  float: left;
  color: var(--textColor);
  width: 100%;
  text-align: left;
  transition: background-color .3s ease, color .3s ease;
}

input, textarea {
  font-size: 1.56rem;
  padding: 0.65rem;
  color: var(--inputColor) !important;
  margin: 0 0 0.8rem 0 !important;
  transition: background-color .3s ease, color .3s ease;
}

input#length {
  margin: 0px !important;
}

#faq {
  float: right;
  cursor: help;
  font-weight: 500;
  color: var(--linkColor);
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}


/*
For IE 6/7 only
Include this rule to trigger hasLayout and contain floats.
*/

.cf {
  *zoom: 1;
}

ul.autocomplete-content.dropdown-content {
  background: -webkit-linear-gradient(left, var(--backgroundColor) 0%, var(--backgroundColor) 70% ,#fff 70% );
  background: -o-linear-gradient(left, var(--backgroundColor) 0%, var(--backgroundColor) 70% ,#fff 70% );
  background: linear-gradient(to right, var(--backgroundColor) 0%, var(--backgroundColor) 70% ,#fff 70% );
  position: absolute !important;
  width: calc(100% - 3rem);
  max-height: 299%;
  overflow-y: auto;
  overflow-x: hidden;
  top: 3.4em;
  margin-top: 0px;
}

ul.autocomplete-content.dropdown-content li {
  background: linear-gradient(to right, var(--backgroundColor) 0%, var(--backgroundColor) 70% ,#fff 70% );
  height: 4em;
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected{
  color:red;
  background: linear-gradient(to right, var(--highlightColor) 0%, var(--highlightColor) 70% ,#fff 70% ) !important;
}


ul.autocomplete-content.dropdown-content span:not(.highlight) {
  color: var(--textColor);
  position: relative;
  top: 1.5rem;
  font-size: 1.5rem;
  padding:0px 15px;
}

ul.autocomplete-content.dropdown-content span .highlight{
  color: var(--textColor);
  font-size: 1.5rem;
  /*color: var(--inputColor);*/
}

.dropdown-content::-webkit-scrollbar {
  width: 17px !important;
  background-color: #fff !important;
}


.dropdown-content::-webkit-scrollbar-track {
  width: 17px;
  background-color: #fff !important;
}

.dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 100px;
  width: 17px;
	background-color: rgba(0,0,0,0.5);
}

li img.right.circle {
  width: calc(30% - 10px);
  height: calc(100% - 10px);
  margin:5px;
}


/*If I keep the rounded element, the twitter bird's beak gets cut :-;*/

.circle {
  object-fit: scale-down;
  border-radius: 0px;
}

.switch {
  padding-bottom: 1.3rem;
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  transform: scale(2.4);
  background-color: rgba(63, 81, 181, 0.3);
}


/*Switch knob*/

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: var(--accentColor);
}


/*Switch backing*/

.switch label input[type=checkbox]:checked+.lever {
  background-color: var(--lightAccent);
}

#passTogglelever {
  left: -4px;
  /* Centering the toggle */
}

.input-group-addon {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  top: 0px;
  right: 0px;
}

.icon {
  fill: var(--textColor);
  transition: fill .2s;
  cursor: pointer;
}

.icon:hover {
  fill: var(--lightAccent);
}

.icon:active {
  fill: var(--accentColor);
}

.input-field label:not(.label-icon).active {
  -webkit-transform: translateY(-1em) scale(0.8);
  transform: translateY(-1em) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

/* Negative toasts get this */
.warning {
  background-color: var(--incorrectColor);
}

/* Positive toasts get this */
.success {
  background-color: var(--correctColor);
}

#jsBanner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 10vmin;
  top:0px;
  left:0px;
  color: var(--backgroundColor);
  -webkit-text-stroke-width: 3px !important;
   -webkit-text-stroke-color: var(--inputTextColor) !important;
}

#jsBanner a {
  color: var(--backgroundColor);
  -webkit-text-stroke: 3px var(--inputTextColor);;
  text-decoration: underline;
}

#cont {
  color: var(--textColor);
}

#logo {
  max-width:100%;
  max-height:100%;
}

#app {
  margin-bottom: 0.55em !important;
}

ul:empty {
  display: none;
}

::-ms-reveal { /* Disable Edge's show/hide since we made one */
    display: none;
}

#logoContainer { /* For portrait logos so they don't oversize */
  right:-5px;
  background: #fff;
  padding: 3px;
  border-radius: 5px;
  width: calc(3rem + 0.1em);
  height: calc(3rem + 0.1em);
  display: none;
  justify-content: center;
  align-items: center;
}

#themePicker {
  left: 5px;
  max-width: 90%;
  top: 1em;
  position: fixed;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}

#themePicker label, #themePicker label::before, #themePicker label::after {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

#themeForm p {
  text-align: center;
  display: inline-block;
  margin-bottom: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  height: 3rem;
  width: 3rem;
  text-align: center;
}

input[type="radio"] {
  margin: 0px;
  width: 0px;
  height: 0px;
  padding: 0px;
}

input[type="radio"]:checked+label::before {
  box-shadow: 0px 0px 3px 1px var(--textColor);
}

label:focus{
    outline: none;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

/* If we're on a small/mobile device */
@media only all and (max-width:25em) {
  #back {
    /* Ditch loads of padding */
    margin: 0px;
  }
  #box {
    max-width: calc(100% - 25px);
  }
}


/* If it won't fit vertically */

@media only all and (max-height:375px) {
  html {
    /* Drop the font size */
    font-size: 4vh;
  }
}
