/* A list of css rules to make debugging easier */
/* Should never be on in production versions */

html:after {
    content:"";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px dotted #ff0000;
    transform: translate(-50%);
}

img{
  background: salmon;
}

* {
 /*outline: 1px solid red;*/
}

li {
  border-bottom: 1px blue solid;
}
span {
  background-color: red;
}

span.highlight {
  background-color: blue;
}

:focus, :active, .tabbed, .active {
  background: pink;
  outline: 2px solid green;
}