@charset "UTF-8";

// Import only what you need from Materialize

@import "node_modules/materialize-css/sass/components/normalize";

// Color
@import "node_modules/materialize-css/sass/components/color-variables";

$accentColor: #3f51b5;
$lightAccent: lighten($accentColor, 15%);
$textColor: #535353;
$backgroundColor: #fff;
$internalColor: #fff;
$incorrectColor: #f44336;
$correctColor: #8fff66;
$inputColor: #000;
$linkColor: #00539b;
$highlightColor: #eee;

$secondary-color: $accentColor;

$select-background: $internalColor;
$switch-checked-lever-bg: $lightAccent;
$sidenav-bg-color: $backgroundColor;
$button-raised-background: $accentColor;
$tabs-underline-color: $accentColor;
$tabs-text-color: $inputColor;
$tabs-bg-color: $internalColor;
$input-border-color: $textColor;
$link-color: $linkColor;

// Variables;
@import "node_modules/materialize-css/sass/components/variables";

$toast-action-color: $link-color;
$toast-action-color: var(--linkColor);
$toast-color: $internalColor;
$toast-color: var(--internalColor);
$toast-text-color: $textColor;
$toast-text-color: var(--textColor);

// Components
@import "node_modules/materialize-css/sass/components/global";
@import "node_modules/materialize-css/sass/components/grid";
@import "node_modules/materialize-css/sass/components/typography";
@import "node_modules/materialize-css/sass/components/toast";
@import "node_modules/materialize-css/sass/components/tabs";
@import "node_modules/materialize-css/sass/components/tooltip";
@import "node_modules/materialize-css/sass/components/buttons";
@import "node_modules/materialize-css/sass/components/dropdown";
@import "node_modules/materialize-css/sass/components/waves";
@import "node_modules/materialize-css/sass/components/sidenav";
// Form parts
@import "node_modules/materialize-css/sass/components/forms/switches.scss";
@import "node_modules/materialize-css/sass/components/forms/select.scss";
@import "node_modules/materialize-css/sass/components/forms/input-fields.scss";



/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  /* For IE6-8 */
  src: url(../node_modules/material-design-icons-iconfont/dist/fonts/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../node_modules/material-design-icons-iconfont/dist/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../node_modules/material-design-icons-iconfont/dist/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../node_modules/material-design-icons-iconfont/dist/fonts/MaterialIcons-Regular.ttf) format('truetype');
  font-display: swap;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* Preferred icon size */
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  user-select: none;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(../fonts/RobotoMono-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto-Light.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/Roboto-Medium.ttf) format('truetype');
  font-display: swap;
}

:root {
  --accentColor: #{$accentColor};
  --lightAccent: #{$lightAccent};
  --textColor: #{$textColor};
  --backgroundColor: #{$backgroundColor};
  --internalColor: #{$internalColor};
  --incorrectColor: #{$incorrectColor};
  --correctColor: #{$correctColor};
  --inputColor: #{$inputColor};
  --linkColor: #{$linkColor};
  --highlightColor: #{$highlightColor};
}

html,
body {
  height: 100% !important;
  color: $inputColor;
  color: var(--inputColor);
  caret-color: $accentColor;
  caret-color: var(--accentColor);
  text-align: center;
  overflow-x: hidden;
}

* {
  transition: background-color .3s ease, color .3s ease;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  background-color: var(--backgroundColor);
}

#box {
  text-align: center;
  max-width: calc(100% - (30px + 10em));
  max-height: 100%;
  margin: auto; /* This helps with compatibility  */
  grid-row: 1;
}

label,
.input-field>label {
  color: $textColor;
  color: var(--textColor);
  font-size: 1.5rem;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out, background-color .3s ease, color .3s ease;
}

.input-field {
  margin-bottom: 0;
}

.input-field input[type=text],
.input-field input[type=number],
.input-field input[type=password] {
  border-bottom: 1px solid $textColor;
  border-bottom: 1px solid var(--textColor);
  transition: border .3s ease-out, background-color .3s ease, color .3s ease;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=number]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid $accentColor !important;
  border-bottom: 1px solid var(--accentColor) !important;
  box-shadow: 0 1px 0 0 $accentColor !important;
  box-shadow: 0 1px 0 0 var(--accentColor) !important;
}

input[type=text]:not(#result):not(.select-dropdown),
input[type=number]:not(#length-pref),
input[type=password]:not(#result) {
  font-size: 3rem !important;
  height: 1.2em !important;
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

input[type=number] {
  margin-bottom: 0;
  overflow: scroll
}

#back {
  box-shadow: 0 0.26em 0.65em 0 rgba(0, 0, 0, 0.2);
  background-color: $internalColor;
  background-color: var(--internalColor);
  border-radius: 0.325em;
  padding: 0.975em;
  padding-top: 1.5em;
  margin: 2em 0;
  max-height: 100%;
}

#result {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  padding: 0.9rem 0;
  min-height: 1em;
  min-width: 20%;
  border: none;
  text-align: center;
  margin: 0;
  width: 100%;
  color: $inputColor;
  color: var(--inputColor);
}

// Colour fix
#result::placeholder {
  color: $inputColor !important;
  color: var(--inputColor) !important;
  opacity: 1;
}

#copy {
  display: block;
  margin: auto;
}

.hint {
  float: left;
  color: $textColor;
  color: var(--textColor);
  width: 100%;
  text-align: left;
}

input,
textarea {
  font-size: 1.56rem;
  padding: 0.65rem;
  color: $inputColor !important;
  color: var(--inputColor) !important;
  margin: 0 0 0.8rem 0 !important;
}

input#length {
  margin: 0 !important;
  height: 1em; /* To stop the input wiggling on firefox */
}

#faq {
  float: right;
  cursor: help;
  font-weight: 500;
  margin-top: 0.4em;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

ul.autocomplete-content.dropdown-content {
  background: $backgroundColor;
  background: var(--backgroundColor);
  position: absolute !important;
  width: calc(100% - 3rem);
  max-height: calc(82% * 4); /* 82% seems to work out as one row */
  overflow-y: auto;
  overflow-x: hidden;
  top: -.1em;
  margin-top: 0;
}

ul.autocomplete-content.dropdown-content li {
  height: 3em;
  min-height: 0;
}

/* Presets */
.dropdown-content li:hover,
.dropdown-content li.active,
.dropdown-content li.selected,
/* Theme selection */
body.keyboard-focused .select-dropdown.dropdown-content li:focus,
.select-dropdown.dropdown-content li.selected {
  background: $highlightColor;
  background: var(--highlightColor);
}

ul.autocomplete-content.dropdown-content li img.right.circle {
  overflow: hidden;
  background: #fff;
  width: calc(20% - 0.66em);
  height: 100%;
  padding: 0.33em;
  margin: 0;
}

ul.autocomplete-content.dropdown-content span {
  /* display: inline-flex; */
  align-items: center;
  white-space: nowrap;
  max-width: 70%;
  height: 100%;
  /* vertical-align: middle; */
  font-size: 1em;
  padding: 0.875em 1em;
  overflow: hidden;
  /* To allow scaling */
  line-height: 1.57em;
}

ul.autocomplete-content.dropdown-content span:not(.highlight) {
  color: $textColor;
  color: var(--textColor);
  overflow-x: hidden;
}

ul.autocomplete-content.dropdown-content span .highlight {
  max-width: 100%;
  color: $textColor;
  color: var(--textColor);
  font-weight: 400;
  overflow: visible;
  padding: 0;
}

.dropdown-content::-webkit-scrollbar {
  width: 17px !important;
  background-color: #fff !important;
}

.dropdown-content::-webkit-scrollbar-track {
  width: 17px;
  background-color: #fff !important;
}

.dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 100px;
  width: 17px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*If I keep the rounded element, the twitter bird's beak gets cut :-;*/
.circle {
  object-fit: scale-down;
  border-radius: 0;
}

#back .switch {
  padding-bottom: 1.3rem;
}

input[type=checkbox]:checked:not(:disabled)~.lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus~.lever::before {
  transform: scale(2.4);
  background-color: rgba(63, 81, 181, 0.3);
}

/*Switch knob*/
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: $accentColor;
  background-color: var(--accentColor);
}

/*Switch backing*/
.switch label input[type=checkbox]:checked+.lever {
  background-color: $lightAccent;
  background-color: var(--lightAccent);
}

#passTogglelever {
  left: -4px; /* Centering the toggle */
}

.input-group-addon {
  position: absolute;
  width: calc(3rem + 0.1em);
  font-size: 2rem;
  top: 0;
  right: -5px;
}

.icon {
  font-size: 1.4em !important;
  color: $textColor;
  color: var(--textColor);
  transition: color .2s;
  cursor: pointer;
}

.icon:hover {
  color: $lightAccent;
  color: var(--lightAccent);
}

.icon:active {
  color: $accentColor;
  color: var(--accentColor);
}

.input-field label:not(.label-icon).active {
  -webkit-transform: translateY(-1em) scale(0.8);
  transform: translateY(-1em) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.toast {
  font-weight: 400
}

/* Negative toasts get this */
.warning {
  color: $inputColor;
  color: var(--inputColor);
  background-color: $incorrectColor;
  background-color: var(--incorrectColor);
}

/* Positive toasts get this */
.success {
  background-color: $correctColor;
  background-color: var(--correctColor);
  color: #000;
}

#jsBanner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 10vmin;
  top: 0;
  left: 0;
  color: $backgroundColor;
  color: var(--backgroundColor);
  -webkit-text-stroke-width: 0.05em !important;
  -webkit-text-stroke-color: $textColor !important;
  -webkit-text-stroke-color: var(--textColor) !important;
  padding: 10px;
}

#jsBanner a {
  color: $backgroundColor;
  color: var(--backgroundColor);
  -webkit-text-stroke: 3px $textColor;
  -webkit-text-stroke: 3px var(--textColor);
  text-decoration: underline;
}

#logo {
  max-width: 100%;
  max-height: 100%;
}

#app {
  margin-bottom: 0.55em !important;
  width: calc(100% - 3.6rem) !important;
  padding-right: 1.2em !important;
  align-self: flex-end;
  display: block;
  white-space: nowrap;
}

ul:empty {
  display: none;
}

/* Disable Edge's show/hide since we made one */
::-ms-reveal {
  display: none;
}

/* For portrait logos so they don't oversize */
#logoContainer {
  margin-right: 5px;
  background: #fff;
  padding: 3px;
  border-radius: 5px;
  height: calc(3rem + 0.1em);
  display: none;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  margin: 0;
  width: 0;
  height: 0;
  padding: 0;
}

input[type="radio"]:checked+label::before {
  box-shadow: 0 0 3px 1px $textColor;
  box-shadow: 0 0 3px 1px var(--textColor);
}

label:focus {
  outline: none;
}

.github-corner {
  fill: $accentColor;
  fill: var(--accentColor);
  color: $backgroundColor;
  color: var(--backgroundColor);
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
.tabs {
  background-color: $internalColor;
  background-color: var(--internalColor);
  cursor: pointer;
  overflow-x: hidden;
  z-index: 995;
}

.tabs .tab a,
.tabs .tab a:hover {
  color: $textColor;
  color: var(--textColor);
  font-size: 1em;
  padding: 0 .5em;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: $backgroundColor;
  background-color: var(--backgroundColor);
}

.tabs .tab a.active {
  color: $inputColor;
  color: var(--inputColor);
  font-weight: 400;
}

.tabs .indicator {
  background: $accentColor;
  background-color: var(--accentColor)
}

.btn {
  height: 2.4em;
  line-height: 2.4em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0 2rem;
  background: $accentColor;
  background: var(--accentColor);
}

.btn:focus,
.btn:hover {
  background: $accentColor;
  background: var(--accentColor);
}

.switch label .lever {
  height: 0.933em;
  width: 2.4em;
}

.switch label .lever::before,
.switch label .lever::after {
  height: 1.33em;
  width: 1.33em;
}

.switch label input[type="checkbox"]:checked+.lever::before,
.switch label input[type="checkbox"]:checked+.lever::after {
  left: 1.4em;
}

.switch label .lever::before,
.switch label .lever::after {
  top: -0.2em;
}

.material-tooltip {
  max-width: 7em;
}

/* If the device can't hover, don't show tooltips */
@media (hover: none) {
  .material-tooltip {
    display: none;
  }
}

.material-tooltip {
  background-color: $internalColor;
  background-color: var(--internalColor);
  box-shadow: 0 0.26em 0.65em 0 rgba(0, 0, 0, 0.2);
  color: $textColor;
  color: var(--textColor);
}

/* In the future focus-visable should be used. See https://caniuse.com/?#search=css-focus-visible */
.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus,
.btn-large:focus,
.btn-small:focus,
.btn-flat:focus {
  outline: rgb(77, 144, 254) auto 5px;
  outline-color: rgb(77, 144, 254);
  outline-style: auto;
  outline-width: 5px;
}

/* Always show arrows on the number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

ul.tabs li.tab a i.material-icons {
  vertical-align: middle;
  color: $incorrectColor;
  color: var(--incorrectColor);
}

/* Normal size */
.btn-floating {
  width: 2.86rem;
  height: 2.86rem;
}

.btn-floating i {
  font-size: 1.6rem;
  line-height: 2.86rem;
  display: block;
  top: 0;
}

/* Large size */
.btn-floating.btn-large {
  width: 4rem;
  height: 4rem;
}

.btn-floating.btn-large i {
  font-size: 2rem;
  line-height: 4rem;
}

/* If we're on a small/mobile device */
@media only all and (max-width:40em) {

  body {
    background-color: var(--internalColor);
  }

  #back {
    /* Ditch loads of padding */
    margin: 0;
    box-shadow: none;

    min-height: 100%;
    border-radius: 0;
  }

  #box {
    width: 100VW;
    max-width: 100VW;
    min-height: 100%;
  }

  /* Install icon */
  #install-icon {
    padding-right: .5vw;
  }

  /* Normal size */
  .btn-floating {
    width: 10vw;
    height: 10vw;
  }

  .btn-floating i {
    font-size: 5vw;
    line-height: 10vw;
  }

  /* Large size */
  .btn-floating.btn-large {
    width: 15vw;
    height: 15vw;
  }

  .btn-floating.btn-large i {
    font-size: 7.5vw;
    line-height: 15vw;
  }

  .github-corner {
    color: $internalColor;
    color: var(--internalColor);
  }
}

/* If it won't fit vertically */
@media only all and (max-height:600px ) and (min-width:40em) {
  html {
    /* Drop the font size */
    font-size: 2vh;
  }
}

.sidenav {
  background-color: $backgroundColor;
  background-color: var(--backgroundColor);
  width: 350px;
  max-width: 100%;
  overflow-y: hidden;
}

.sidenav li>a {
  font-weight: 300;
}

/* Shows warning icons properly */
.sidenav li>a>i,
.sidenav li>a>[class^="mdi-"],
.sidenav li>a li>a>[class*="mdi-"],
.sidenav li>a>i.material-icons {
  margin: 0;
  float: none;
}

#settings {
  position: absolute;
  left: 1vw;
  bottom: 1vw;
  display: block;
}

#settings a i.material-icons {
  display: block;
  font-size: 2.5em;
  color: $textColor;
  color: var(--textColor);
}

.sidenav label:not([for=length-pref]) {
  font-size: 1rem;
  top: -33px;
}

#options {
  padding: 10px;
  // padding-top: 0;
  display: grid;
  height: calc(100% - 8px);
  grid-template-rows: repeat(12, 1fr);
  // grid-template-rows: repeat(auto-fill, minmax(70px, 1fr))
  // grid-auto-rows: repeat(min-content, 60px) ;
}

.sidenav .dropdown-content {
  background: $backgroundColor;
  background: var(--backgroundColor);
}

.sidenav .dropdown-content li>a,
.dropdown-content li>span {
  color: $inputColor;
  color: var(--inputColor);
}

select {
  background-color: $internalColor;
  background-color: var(--internalColor);

  border: 1px solid $textColor;
  border: 1px solid var(--textColor);
  border-radius: 3px;

  color: $inputColor;
  color: var(--inputColor);
}

select:focus {
  border: 1px solid $lightAccent;
  border: 1px solid var(--lightAccent);

  outline: none;
}

.sidenav .input-field {
  margin-top: 2.5rem;
}

.btn i {
  vertical-align: top;
}

.drag-target {
  left: 0;
}

.sidenav .switch label {
  font-size: 1.2em;
}

.sidenav {
  place-content: center;
}

#theme-container {
  grid-row: 1;
}

#session-container {
  grid-row: 3;
  padding-bottom: 0;
}

#footer {
  display: grid;
  grid-template-columns: 1fr calc(2.4em + 10px);
  align-content: stretch;
  grid-row: last-line;
}

#close {
  cursor: pointer;
  align-self: end;
  justify-self: flex-end;
  font-size: 2.4em;
  color: $inputColor;
  color: var(--inputColor);
}

a {
  color: $linkColor;
  color: var(--linkColor);
}

#old {
  text-overflow: clip;
}

#length-pref {
  font-size: 2em;
  font-weight: 300;
}